<template>
  <div class="container">
      <Profile :bio="bio" :created="created" :errCode="errCode" />
      <template v-if="$auth.loggedIn">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <br>
      </template>
      <!-- <Auth :isSignUp='false' /> -->
      <br>
      <br>
      <br>
      <PostByUser :uname="$route.params.username" />
      <br>
      <br>
  </div>
</template>

<script>
// import Auth from '~/components/Auth.vue'
import Profile from '~/components/Profile.vue'
import axios from 'axios';
import moment from 'moment';
import PostByUser from '~/components/PostByUser.vue'

export default {
    async asyncData({ route }) {
        try
        {
            let result = await axios.get('/api/userinfo/' + route.params.username, { baseURL : `http://atserver:3002` });
            if(result.data.created) result.data.created = moment(result.data.created).fromNow(true);
            return result.data;
        }
        catch(err)
        {
            if
            (
                err.response              &&
                err.response.data         &&
                err.response.data.errCode
            )
            {
                return err.response.data;
            }
            else
            {
                console.error('ERROR', JSON.stringify(err));
                return { errCode : 42 };
            }
        }
    },
    components: {
        // Auth,
        Profile,
        PostByUser
    }
}
</script>

<style scoped>
</style>
