<template>
<div class="container">
    <template v-if="posts">
        <RenderPost @onReply="onReply(p.id)" @onReport="onReport(p.id)" v-for="p in posts" class="mb-2" :key="p.id" :p="p"/>

        <div style="position: fixed; bottom: 0; right: 0">
            <Post @readPost="readPost" ref="postRef" :rootPost="$route.params.id" class="navbar-nav ml-auto float-right p-3" />
        </div>
          <b-modal :title="'Report post #' + toReport" ok-title="Submit" id="report-modal" @ok.prevent="onSubmitReport">
            1. Select a reason:
            <b-form-select  @change="showErr = null"  v-model="selected" :options="options" required></b-form-select>
            <div v-if="svg && svg.length">
                <span v-html="svg"></span>
                <span
                    @click="fetch_captcha"
                    class="pointer mr-2"
                    title="reload captcha"
                    >⟳</span
                >
            </div>
            2. Enter the captcha code:
            <input
                minlength="4"
                @change="showErr = null"
                v-model="solution"
                type="text"
                class="form-control"
                placeholder="Enter the code"
                required
            />
            <div v-if="showErr" class="alert alert-danger mt-2">{{ showErr }}</div>
          </b-modal>
    </template>
<FourOFour v-else />


</div>
</template>

<script>
import Post from '~/components/Post.vue';
import FourOFour from '~/components/FourOFour.vue';
import RenderPost from '~/components/RenderPost.vue';
import axios from 'axios';
import moment from 'moment';
import { escape } from 'html-escaper';

export default {
    data() {
        return {
            svg : "",
            solution : null,
            selected: null,
            options: [
                { value: null, text: 'Select a reason' },
                { value: 'Site rule violation', text: `Site rule violation` },
                { value: 'Site rule violation', text: `Contains something Illigal` },
            ],
            toReport : null,
            showErr : null
        }
    },
    async asyncData({ route }) {
        try
        {
            let result = await axios.get('/api/pagepost/' + route.params.id, { baseURL : `http://atserver:3002` });
            if(!result.data || !result.data.length) return {  };
            let posts = { };
            result.data.forEach((p) =>
            {
                posts[p.id] = p;
                posts[p.id].linked = { };
                posts[p.id].comments = { };
            });

            delete result.data;

            Object.keys(posts).forEach((id) =>
            {
                posts[id].content = escape(posts[id].content);
                posts[id].content = posts[id].content.replace(/(?:^|\B)&gt;&gt;([0-9]+)(\b|\r)/gi, (rid) =>
                {
                    posts[id].linked[rid.substr(8)] = { };
                    return rid;
                });

                Object.keys(posts[id].linked).forEach((q) =>
                {
                    let toSave = { };
                    if(posts[q])
                    {
                        toSave = { ...posts[q] }
                        if(toSave.fname) toSave.content =
                            `<img src="/file/${toSave.id}.jpg" /> ` + toSave.content;
                        toSave.fname = null;
                        toSave.linked = {};
                        toSave.comments = { };

                        posts[id].linked[q] = toSave;

                        toSave = { ...posts[id] }
                        if(toSave.fname) toSave.content =
                            `<img src="/file/${toSave.id}.jpg" /> ` + toSave.content;
                        toSave.fname = null;
                        toSave.linked = {};
                        toSave.comments = { };

                        posts[q].comments[id] = toSave;
                    }
                    else
                    {
                        delete posts[id].linked[q];
                    }
                });
            });

            // Might be easier to just render it here instead of sending it
            // to RenderPost

            return { posts : posts };
        }
        catch(err)
        {
            console.log(err);
            if
            (
                err.response              &&
                err.response.data         &&
                err.response.data.errCode
            )
            {
                // let err = err.response.data.errCode;
                let err = err.response.data;
                console.error(err);
                // TODO: ?
                // if(err === 1)
                // {
                //     //
                // }
                // return err.response.data;
                return { posts : [] };
            }
            else
            {
                console.error('ERROR', JSON.stringify(err));
                // return { errCode : 42 };
                return { posts : [] };
            }
        }
    },
    components: {
    },
    methods :
    {
        fetch_captcha() {
            this.solution = null;
            axios({
                method: "POST",
                url: "/api/captcha",
            })
                .then((res) => res.data)
                .then((res) => {
                    if (res.svg) this.svg = res.svg;
                    else throw res;
                })
                .catch((err) => {
                    console.error(err);
                });
        },
        async readPost(id)
        {
            if(!this.posts || !id)
            {
                console.error('no posts', id);
                return;
            }

try
{
            let res = await axios.get('/api/readPost/' + id);

            res.data.content = escape(res.data.content);
            res.data.linked = { };
            res.data.comments = { };

            res.data.content = res.data.content.replace(/(?:^|\B)&gt;&gt;([0-9]+)(\b|\r)/gi, (rid) =>
            {
                rid = rid.substr(8);
                res.data.linked[rid] = { };
                if(this.posts[rid])
                {
                    return `<a href='#${rid}'>&gt;&gt;${rid}</a>`;
                }
                else
                {
                    return `<a href='/post/${rid}'>&gt;&gt;${rid}</a>`;
                }
            });

            Object.keys(res.data.linked).forEach((q) =>
            {
                let toSave = { };
                if(this.posts[q])
                {
                    toSave = { ... this.posts[q] }
                    if(toSave.fname) toSave.content =
                        `<img src="/file/${toSave.id}.jpg" /> ` + toSave.content;
                    toSave.fname = null;
                    toSave.linked = {};
                    toSave.comments = { };

                    res.data.linked[q] = toSave;

                    toSave = { ... res.data }
                    if(toSave.fname) toSave.content =
                        `<img src="/file/${toSave.id}.jpg" /> ` + toSave.content;
                    toSave.fname = null;
                    toSave.linked = {};
                    toSave.comments = { };
                    this.$set(this.posts[q].comments, id, toSave);
                }
                else
                {
                    delete res.data.linked[q];
                }
            });

            this.$set(this.posts, res.data.id, res.data);

            if(process.client)
            {
                setTimeout(() =>
                    document.getElementById(res.data.id).scrollIntoView(),
                    100
                );
            }
}
catch(err)
{
    console.error(err);
}
        },
        onReply(id)
        {
            this.$refs.postRef.onReplyClicked(id);
        },
        onReport(id)
        {
            this.toReport = id;
            this.fetch_captcha();
        },
        async onSubmitReport()
        {
            if(!this.selected)
            {
                this.showErr = 'Select a reason for the report';
                return;
            }
            else if(!this.solution)
            {
                this.showErr = 'Please enter the captcha code';
                return;
            }
            this.showErr = null;
            try
            {
                let res = await axios.post('/api/createReport/', { id : this.toReport, content : this.selected, solution : this.solution });
            }
            catch(err)
            {
                if
                (
                    err &&
                    err.response              &&
                    err.response.data         &&
                    err.response.data.errCode
                )
                {
                    if(err.response.data.errCode == 900)
                    {
                        this.fetch_captcha();
                        this.solution = null;
                        this.showErr = 'Captcha was incorrect, retry'
                    }
                    else
                    {
                        this.showErr = 'Undefined error, retry or contact admin';
                        console.error(err);
                    }
                }
                else
                {
                    this.showErr = 'Undefined error, retry or contact admin';
                    console.error(err);
                }
            }
            if(!this.showErr)
            {
                this.$bvModal.hide('report-modal');
                this.selected = null;
                this.toReport = null;
            }
        }
    }
}
</script>

<style>
.pointer {
    cursor: pointer;
}
</style>
