<template>
  <div v-once class="container">
    <RenderPost class="mb-2" v-for="p in posts" :key="p.id" :p="p" />
    <div v-if="posts && posts.length" style="position: fixed; bottom: 0; right: 0">
        <Post btn_text="Post" class="navbar-nav ml-auto float-right p-3" />
    </div>
    <FourOFour header="No more posts to display" descr=" "  v-else />
    <Page :currentPage="Number($route.params.num)"/>
  </div>
</template>

<script>
import Post from '~/components/Post.vue';
import Page from '~/components/Page.vue';
import RenderPost from '~/components/RenderPost.vue';
import axios from 'axios';
import { escape } from 'html-escaper';

export default {
    async asyncData({ route }) {
        try
        {
            let page = Number(route.params.num);
            if(page < 1 || page > 10)
            {
                console.error('out of limit page number param', page);
                return;
            }
            let result = await axios.get(`/api/latestpost/${page}`, { baseURL : `http://atserver:3002` });
            result.data.posts.forEach((p) =>
            {
                if(p.content.length >= 299) p.content = p.content + '...';
                p.content = escape(p.content);
            });
            return result.data;
        }
        catch(err)
        {
            console.error(err);
        }
    },
    components: {
        RenderPost,
        Post
    }
}
</script>

<style scoped>
</style>