<template>
  <div v-once class="container">
    <RenderPost class="mb-2" v-for="p in posts" :key="p.id" :p="p" />
    <div style="position: fixed; bottom: 0; right: 0">
        <Post btn_text="Post" class="navbar-nav ml-auto float-right p-3" />
    </div>
    <Page :currentPage="1"/>
  </div>
</template>

<script>
import Post from '~/components/Post.vue';
import Page from '~/components/Page.vue';
import RenderPost from '~/components/RenderPost.vue';
import axios from 'axios';
import { escape } from 'html-escaper';

export default {
    async asyncData({ route }) {
        try
        {
            let page = route.path.split('/')[1];
            let result = await axios.get(`/api/latestpost${!page.length ? '/1' : page}`, { baseURL : `http://atserver:3002` });
            result.data.posts.forEach((p) =>
            {
                if(p.content.length >= 299) p.content = p.content + '...';
                p.content = escape(p.content);
            });
            return result.data;
        }
        catch(err)
        {
            console.error(err);
        }
    },
    components: {
        RenderPost,
        Post
    }
}
</script>

<style scoped>
</style>
