<template>
    <div v-if="result">
    <ul v-if="result.post_banned_for">
    <h3>IP banned</h3>
        <li><b>Banned for post ID:</b> {{ result.post_banned_for }}</li>
        <li><b>Until:</b> {{ result.until || 'Forever' }} </li>
        <li><b>Reason for the ban:</b> {{ result.reason || 'NOT SPECIFIED' }} </li>
    </ul>
    <span v-else>
        You are not banned
    </span>
    </div>
    <div v-else-if="err">
    Error, could not fetch ban info
    </div>
    <div v-else-if="!hasLoaded">
    Loading ban related information for this IP...
    </div>
    <div v-else>
    Encountered an unexpected error
    </div>
</template>

<script>
    export default {
        data() {
            return {
                hasLoaded : false,
                result    : null,
                err       : false
            }
        },
        async mounted()
        {
            try
            {
                let res = await this.$axios.$get('/api/viewban');
                this.hasLoaded = true;
                this.result = res;
            }
            catch(err)
            {
                console.error(err);
                this.hasLoaded = true;
                this.err = true;
            }
        }
    }
</script>

<style scoped>

</style>