<template>
<div>
    <input class="float-right" type='text' v-model="code" placeholder="Enter mod code" />
    <div style="color: green" v-if="!hasLoaded">Loading...</div>
    <button type="button" @click="onReLoad()" class="btn btn-secondary">Reload</button>
    <b-card v-for="r in reports" :key="r.id" :id="r.id">
        <a :href="`/post/${r.postid}/s`">#{{r.postid}}</a>
        : {{ r.content }} : {{ r.ip }}
        <b-button :disabled="resolved[r.id]" :title="resolved[r.id] ? 'Issue resolved' : ''" @click="onClick(r.id)" variant="outline-primary">{{ clicked[r.id] ? "Hide Post" : "View Post"}}</b-button>
        <b-button v-if="clicked[r.id]" @click="onIgnore(r.postid, r.id)" variant="outline-primary">Ignore report</b-button>
        <b-button v-if="clicked[r.id]" @click="onDelete(r.postid, r.id)" variant="outline-primary">Delete</b-button>
        <b-button v-if="clicked[r.id]" @click="onIPBan(r.postid, r.id)" variant="outline-primary">Delete and IP Ban</b-button>
        <SinglePost class="mt-2" v-if="clicked[r.id]" :id="r.postid" />
    </b-card>
</div>
</template>

<script>
import SinglePost from '~/components/SinglePost.vue';

    export default {
        data() {
            return {
                code : '',
                reports : [],
                clicked : { },
                resolved : { },
                hasLoaded : false
            };
        },
        methods:
        {
            onClick(id)
            {
                this.$set(this.clicked, id, !this.clicked[id]);
            },
            onDelete(postid, reportid)
            {
                this.$axios.$post('/api/' + this.code + 'deletpost', { postid : postid , reportid : reportid })
                .then((res) =>
                {
                    this.$set(this.clicked, postid, false);
                    this.$bvToast.toast(`Post #${postid} successfully deleted`, {
                        title: 'Deleted',
                        autoHideDelay: 5000,
                        variant : 'success',
                        appendToast: false
                    });

                    this.$set(this.clicked, reportid, false);
                    this.$set(this.resolved, reportid, true);

                })
                .catch((err) =>
                {
                    console.error(err);
                    this.$bvToast.toast(`Post #${postid} did not delete`, {
                        title: 'NOT DELETED',
                        autoHideDelay: 5000,
                        variant : 'danger',
                        appendToast: false
                    });
                })
            },
            onIgnore(postid, reportid)
            {
                this.$axios.$post('/api/' + this.code + 'resolvereport', { reportid : reportid })
                .then((res) =>
                {
                    this.$set(this.clicked, postid, false);
                    this.$bvToast.toast(`Report #${reportid} successfully ignored`, {
                        title: 'Deleted',
                        autoHideDelay: 5000,
                        variant : 'success',
                        appendToast: false
                    });

                    this.$set(this.clicked, reportid, false);
                    this.$set(this.resolved, reportid, true);
                })
                .catch((err) =>
                {
                    console.error(err);
                    this.$bvToast.toast(`Report #${reportid} did not get ignored`, {
                        title: 'NOT DELETED',
                        autoHideDelay: 5000,
                        variant : 'danger',
                        appendToast: false
                    });
                });
            },
            onIPBan(postid, reportid, ip)
            {
                let reason = prompt('Reason for ban:');
                if(!reason) return alert('No reason specified, cancalling ban');
                else
                {
                    this.$axios.$post('/api/' + this.code + 'banip', { postid : postid, reason : reason })
                    .then((res) =>
                    {
                        this.$set(this.clicked, postid, false);
                        this.$bvToast.toast(`Ban successful`, {
                            title: 'Deleted',
                            autoHideDelay: 5000,
                            variant : 'success',
                            appendToast: false
                        });

                        this.$set(this.clicked, reportid, false);
                        this.$set(this.resolved, reportid, true);
                        this.onDelete(postid, reportid);
                    })
                    .catch((err) =>
                    {
                        console.error(err);
                        this.$bvToast.toast(`Could not ban or delete`, {
                            title: 'NOT DELETED',
                            autoHideDelay: 5000,
                            variant : 'danger',
                            appendToast: false
                        });
                    });
                }
            },
            async onReLoad()
            {
                this.hasLoaded = false;
                try
                {
                    let res = await this.$axios.$get('/api/' + this.code + 'reports?rand='+Math.random());
                    res.forEach((r) => r.clicked = false);
                    this.reports = res;
                    this.hasLoaded = true;
                }
                catch(err)
                {
                    console.error(err);
                    this.hasLoaded = true;
                }                
            }
        },
        async mounted()
        {
            try
            {
                let res = await this.$axios.$get('/api/' + this.code + 'reports');
                res.forEach((r) => r.clicked = false);
                this.reports = res;
                this.hasLoaded = true;
            }
            catch(err)
            {
                console.error(err);
                this.hasLoaded = true;
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>