<template>
    <div>
        <input class="float-right" type='text' v-model="code" placeholder="Enter mod code" />
        <form class="form-inline" @submit.prevent>
        <div class="form-group mr-2 m">
         <label class="mr-2">Post banned for:</label>
    <input v-model="postid" type="number" class="form-control" placeholder="Enter post ID">
        </div>
      <button @click.prevent="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
      DEVELOPEMENT INCOMPLETE, SEE CONSOLE LOG FOR RESULT
    </div>
</template>

<script>
    export default {
        data()
        {
            return {
                code : '',
                postid : null
            }
        },
        methods :
        {
            submit()
            {
                this.$axios.$post('/api/' + this.code + 'expireban', { postid : this.postid })
                .then((res) => console.log(res, 'good'))
                .catch((err) => console.error(err, 'error'));
            }
        }       
    }
</script>

<style scoped>

</style>