<template>
<span>
    <b-navbar style="background-color: rgba(255,255,255,0.80);" class="border-bottom mb-2" variant="faded" type="light" align="center">
  <b-container>
        <b-navbar-brand @mouseover="getStyle()" :style="style" tag="h1" class="mb-0 font-bold" href="/"><b>Site Name</b></b-navbar-brand>
        <b-nav-text right class="ml-auto font-italic">tagline</b-nav-text>
  </b-container>
    </b-navbar>
  <b-container>
    <Nuxt />
  </b-container>
  <b-container fluid class="bd-footer text-muted docs-border">
      <div style="height: 100px;">
      </div>
      <div style="text-align:center">
      : )
      </div>
      <br>
  </b-container>
</span>
</template>

<script>
export default {
    data() { return { style : 'letter-spacing: 0.02em; color: #5d82a0;' }},
    methods :
    {
        getStyle()
        {
            let color = Math.floor(Math.random()*16777215).toString(16);
            this.style = `letter-spacing: 0.02em; color: #${color}; text-shadow: 0 0 0.15em #${0xffffff ^ color};`
        },
    },
    mounted()
    {
        // let color = Math.floor(Math.random()*16777215).toString(16);
        // this.style= `letter-spacing: 0.02em; color: #${color}; text-shadow: 0 0 0.15em #${0xffffff ^ color};`;
    }
}
</script>

<style>

#__layout, body, html
{
    background-color: grey;
    background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 75%,transparent 0,transparent 75%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
    background-size: 1rem 1rem;
}

.rootpost, .normalpost, .bg-white, .form-control, .popover, .page-link
{
    background-color: rgba(255,255,255,0.80) !important;
}

.page-item.active .page-link
{
    color: grey;
}

/*
.cont img
{
position: relative;
left: -20%;
z-index: 99;
box-shadow:2px 3px 5px #999;
}

.imgcontent
{
    margin-left: -3% !important;
    padding-left: 0;
    z-index: 100;
}
*/

body
{
    /* background: #22232b; */
    /* background: #454545 url('~assets/bg.png') repeat; */
/* background: #eee; */
/* min-height: 100%;
background-attachment: fixed;
background-repeat: no-repeat; */
}

a, a h3
{
    /* color: #bababa; */
    /* color: #89d279; */
    /* color: #5d82a0; */
}
</style>
