<template>
<div v-if='!$auth.loggedIn'>
    <form @submit.prevent='onSubmitLogin'>
    <div class="form-group row">
        <label for="usernamesu" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
        <input :disabled="disabled" @change="clear_error" v-model='form.user' type="text" class="form-control" id="usernamesu" placeholder="Username" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword1" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
        <input :disabled="disabled" @change="clear_error" v-model="form.pass1" type="password" class="form-control" id="inputPassword1" placeholder="Password" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <div v-if="errCode" class="alert alert-danger" role="alert">{{ errDict[errCode] ? errDict[errCode] : errDict[42] }} <span @click='clear_error' class='float-right pointer'>x</span></div>
            <div v-else-if="info" class="alert alert-primary" role="alert">{{ info }} <span @click='clear_error' class='float-right pointer'>x</span></div>
        </div>
    </div>
    <div class="form-group row float-right">
        <div class="col-sm-10">
        <button :disabled="disabled" type="submit" class="btn btn-primary"><b-spinner v-if='disabled && !$auth.loggedIn' title='Sending to server for processing' type="border" small></b-spinner><template v-else>Login</template></button>
        </div>
    </div>
    </form>
</div>
<form @submit.prevent='onSubmitLogout' v-else>
    <div class="form-group row">
        <div class="col-sm-12">
            <div v-if="errCode" class="alert alert-danger" role="alert">{{ errDict[errCode] ? errDict[errCode] : errDict[42] }} <span @click='clear_error' class='float-right pointer'>x</span></div>
            <div v-else-if="info" class="alert alert-primary" role="alert">{{ info }} <span @click='clear_error' class='float-right pointer'>x</span></div>
        </div>
    </div>
    <div class="form-group row float-right">
        <div class="col-sm-10">
            <button :disabled="disabled" type="submit" class="btn btn-secondary"> <b-spinner v-if='disabled && !$auth.loggedIn' title='Sending to server for processing' type="border" small></b-spinner><template v-else>Logout</template></button>
        </div>
    </div>
</form>

</template>

<script>
// TODO: when changing from sign-up/login or to logout, need to clean info
import axios from 'axios';
export default {
    props : {
        isSignUp : Boolean, // the type here doesn't matter, only for documenting,
    },
    data() {
        return {
            form : {
                user : undefined,
                pass1 : undefined,
                pass2 : undefined,
                solution : undefined
            },
            tabIndex : 1,
            info : '',
            svg : '',
            disabled : false,
            errCode : null,
            errDict : {
                1 : 'Error, server did not recieve username or password',
                2 : 'Error: account could not be created',
                3 : `You are already logged in, no need to register or login`,
                4 : 'The username is taken, change and retry',
                42 : 'Undefined error, retry or contact admin',
                43 : 'Undefined captcha error, retry or contact admin',
                900 : 'Captcha was not correct, please retry',
                991 : 'Passwords do not match, fix and retry',
                992 : 'Username can contain letters, numbers and underscores only, no spaces, fix and retry',
                993 : 'Recieved 404 error from server, retry or contact admins',
                994 : `Username too long, can't be longer than 20 characters`,
                881 : 'No matching user and password combination found',
                22 : 'Unexpected error trying to login, retry or contact admin'
            }
        }
    },
    watch : {
        isSignUp(is)
        {
            if(is) this.tabIndex = 0;
            else   this.tabIndex = 1;
        },
        tabIndex(i)
        {
            if(i === 0 && !this.svg.length) this.fetch_captcha();
        }
    },
    mounted() {
        if(this.isSignUp) this.tabIndex = 0;
        else              this.tabIndex = 1;
    },
    methods : {
        clear_error() {
            this.errCode = null;
            this.info = '';
        },
        post_success_clear() {
            this.tabIndex = 1;
            this.form.user = undefined;
            this.form.pass1 = undefined;
            this.form.pass2 = undefined;
            this.form.solution = undefined;
        },
        onSubmitLogout() {
            this.disabled = false;
            this.clear_error();

            this.$auth.logout()
            .then(() =>
            {
                this.post_success_clear();
            })
            .catch((err) =>
            {
                this.errCode = 42;
                console.error(err);
            });
        },
        onSubmitLogin() {
            this.disabled = true;
            this.clear_error();

            this.form.user = this.form.user.trim();
            if(!this.form.user.match(/^\w+$/))
            {
                this.errCode = 881;
                this.disabled = false;
                return;
            }

            if(this.form.user.length > 20)
            {
                this.errCode = 881;
                this.disabled = false;
                return;
            }

            axios
            ({
                method : 'POST',
                url : '/api/login',
                data : {
                    username : this.form.user,
                    password : this.form.pass1
                }
            })
            .then((res) => res.data)
            .then((res) =>
            {
                this.disabled = false;
                this.clear_error();
                this.$auth.fetchUser()
                .then(() =>
                {
                    this.post_success_clear();
                });
            })
            .catch((err) =>
            {
                this.errCode = 42;
                this.disabled = false;

                if
                (
                    err.response              &&
                    err.response.data         &&
                    err.response.data.errCode
                )
                {
                    // Request made and server responded
                    this.errCode = err.response.data.errCode;
                    if(this.errCode === 24) this.errCode = 881;
                    else if(this.errCode === 3)
                    {
                        this.$auth.fetchUser()
                        .then(() =>
                        {
                            this.post_success_clear();
                        });
                    }
                }
                else if(err.request)
                {
                    if(err.response && err.response.status && err.response.status === 404)
                    {
                        this.errCode = 993;
                    }
                    // The request was made but no response was received
                    console.error(err.request);
                }
                else
                {
                    // Something happened in setting up the request that triggered an Error
                    console.error('Error', err.message);
                }

                // console.error(err);
            });
        },
        onSubmitSignUp() {
            this.disabled = true;
            this.clear_error();

            this.form.user = this.form.user.trim();
            if(!this.form.user.match(/^\w+$/))
            {
                this.errCode = 992;
                this.disabled = false;
                return;
            }

            if(this.form.user.length > 20)
            {
                this.errCode = 994;
                this.disabled = false;
                return;
            }

            if(this.form.pass1 !== this.form.pass2)
            {
                this.errCode = 991;
                this.disabled = false;
                return;
            }

            axios
            ({
                method : 'POST',
                url : '/api/account',
                data : {
                    username : this.form.user,
                    password : this.form.pass1,
                    solution : this.form.solution
                }
            })
            .then((res) => res.data)
            .then((res) =>
            {
                this.disabled = false;
                this.fetch_captcha(); // <-- Remove ?
                this.$auth.fetchUser()
                .then(() =>
                {
                    this.post_success_clear();
                });
            })
            .catch((err) =>
            {
                this.errCode = 42;
                this.disabled = false;

                if
                (
                    err.response              &&
                    err.response.data         &&
                    err.response.data.errCode
                )
                {
                    // Request made and server responded
                    this.errCode = err.response.data.errCode;
                    if(this.errCode !== 900) this.fetch_captcha();
                    if(this.errCode === 3)
                    {
                        this.$auth.fetchUser()
                        .then(() =>
                        {
                            this.post_success_clear();
                        });
                    }
                    // console.error(error.response.status);
                    // console.error(error.response.headers);
                }
                else if(err.request)
                {
                    this.fetch_captcha();
                    if(err.response && err.response.status && err.response.status === 404)
                    {
                        this.errCode = 993;
                    }
                    // The request was made but no response was received
                    console.error(err.request);
                }
                else
                {
                    this.fetch_captcha();
                    // Something happened in setting up the request that triggered an Error
                    console.error('Error', err.message);
                }

                // console.error(err);
            });
        },
        fetch_captcha() {
            this.form.solution = undefined;
            axios({
                method : 'POST',
                url : '/api/captcha'
            })
            .then((res) => res.data)
            .then((res) => {
                if(res.svg) this.svg = res.svg;
                else throw res;
            })
            .catch((err) =>
            {
                this.errCode = 42;

                if
                (
                    err.response              &&
                    err.response.data         &&
                    err.response.data.errCode
                )
                {
                    // Request made and server responded
                    this.errCode = err.response.data.errCode;
                    // console.error(error.response.status);
                    // console.error(error.response.headers);
                }
                else if (err.request)
                {
                    // The request was made but no response was received
                    console.error(err.request);
                }
                else
                {
                    // Something happened in setting up the request that triggered an Error
                    console.error('Error', err.message);
                }

                // console.error(err);
            });
        }
    }
}
</script>

<style scoped>
.pointer
{
    cursor: pointer;
}
</style>