<template>
  <span v-if="id && id.length && id.length === 11">
    <a style="cursor: pointer" class="a" @click.prevent="onClick">{{ clicked ? `[close embed]` : `[embed]` }}</a>
    <b-embed
        v-if="clicked"
        type="iframe"
        aspect="16by9"
        :src="`https://www.youtube.com/embed/${id}?rel=0`"
        allowfullscreen
    ></b-embed>
  </span>
</template>

<script>
    export default {
        props : { id : String, },
        data(){ return { clicked : false }},
        methods : { onClick(){ this.clicked = !this.clicked }}
    }
</script>

<style scoped>

</style>