<template>
    <b-container>
        <h1>{{ header || `Error 404` }}</h1>
        <p>{{ descr || `Requested resource not found` }}</p>
        <img style="position: absolute; bottom: 0; right: 0;" src="https://i.gifer.com/yH.gif">
    </b-container>
</template>

<script>
    export default {
        props: {
            header : String,
            descr : String
        },
    }
</script>

<style scoped>

</style>