<template>
<div>
    <RecurRender v-for="p in posts" :key="p.id" :id="p.id" :p="p" :postId="postId" />
</div>
</template>

<script>
import axios from 'axios';
import ReplyPost from '~/components/ReplyPost.vue';
import RecurRender from '~/components/RecurRender.vue';

export default {
    name : 'LinkedPost',
    props :
    {
        postId : String,
        rootId : String
    },
    data() {
        return {
            posts : {},
            // posts : [],
            counter : {},
            errCode : null,
            errDict : {
            }
        }
    },
    mounted() {
        axios.get(`/api/${ !this.rootId || this.postId == this.rootId ? "rootPost" : "linkedPost"}/` + this.postId)
        .then((res) =>
        {
            let id_arr = [];
            let obj = { };
            let posts_sec = [];

            res.data = res.data.sort((a, b) =>
            // parent has to come before children
            {
                if(a.linkedpost == this.postId) return -1;
                else return 1;
            });

            res.data.forEach((p) =>
            {
                p.created = this.$moment(p.created).fromNow();
                // if(p.linkedpost == this.postId) this.posts.push(p);
                // p.posts = { };
                // if(p.linkedpost === this.postId) obj[p.id] = p;
                // else post_sec.push(p);
                id_arr.push(p.id);
            });

            function list_to_tree(list, postId)
            // https://stackoverflow.com/a/18018037/7299313
            {
                var map = {}, node, roots = [], i;
                for(i = 0; i < list.length; ++i)
                {
                    map[list[i].id]  = i;  // initialize the map
                    list[i].replies = []; // initialize the replies
                }
                for(i = 0; i < list.length; ++i)
                {
                    node = list[i];
                    if (node.linkedpost !== postId)
                        list[map[node.linkedpost]].replies.push(node);
                    else
                        roots.push(node);
                }

                return roots;
            }

            this.posts = list_to_tree(res.data, this.postId);

            // console.log(JSON.stringify(list_to_tree(res.data, this.postId), null, 4));

            // TODO: make tree

            // res.data.forEach((p) =>
            // {
            //     if(p.linkedpost === obj[p.id])
            //     {
            //         obj[p.id].posts
            //     }
            // });

            // this.posts.forEach(())

            // this.posts = posts_main;

            // this.posts = res.data;
            // console.log('======>', res.data);
            return id_arr;
        })
        .then((id_arr) =>
        {
            if(id_arr.length)
                return axios.post('/api/countReplies/', { id_arr : id_arr });
            else return { data : [] }
        })
        .then((res) => res.data)
        .then((res) =>
        {
            res.forEach((r) => this.$set(this.counter, r.linkedpost, r.replies));
        })
        .catch((err) =>
        {
            this.errCode = 42;
            console.error(err);
        });
    }
}
</script>

<style scoped>

</style>