<template>
    <b-card class='bcard' @click="onClick">
        cool
    </b-card>
</template>

<script>
    export default {
        methods :
        {
            onClick()
            {
                window.location = '/';
            }
        }
    }
</script>

<style>
.bcard
{
    min-height: 200px;
    /* background: #22232b; */
    /* background: url(https://source.unsplash.com/800x200/?abstract) no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    /* color: #ca9060; */
    text-align: center;
    backdrop-filter: blur(10px);
}
</style>