<template>
    <b-pagination-nav
        style="margin-top: 3%"
        prev-text="Prev"
        next-text="Next"
        base-url="/"
        v-model="thePage"
        :link-gen="linkGen"
        :number-of-pages="10"
        :limit="10"
        :per-page="1"></b-pagination-nav>
</template>

<script>
    export default {
        props :
        {
            currentPage : Number
        },
        data()
        {
            return { thePage : this.currentPage }
        },
        methods :
        {
            linkGen(pageNum) {
                return '/page/' + pageNum;
            }
        },
    }
</script>
<style>

.pagination *, .page-item.disabled .page-link
{
    /* background-color: #292934; */
    /* color: #708080; */
}
.pagination > li > a
{
    /* background-color: #292934; */
    /* color: #708080; */
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    /* color: #292934; */
    /* background-color: #708080; */
    /* border-color: #708080; */
}

.pagination > .active > a
{
    /* color: #708080; */
    /* background-color: #708080 !Important; */
    /* border: solid 1px #708080 !Important; */
}

.pagination > .active > a:hover
{
    /* background-color: #292934 !Important; */
    /* border: solid 1px #292934; */
}

</style>