<template>
    <div v-if="id" class="youtube-video-container" id="player">Loading...</div>
</template>

<script>
import YTPlayer from 'yt-player';
export default {
    props :
    {
        id : String
    },
    data() {
        return {
            player : null,
            playerLoaded : false
        }
    },
    mounted()
    {
        if(this.id)
        {
            if(!this.playerLoaded)
            {
                this.player = new YTPlayer
                (
                    '#player',
                    {
                        modestBranding : true,
                        related : false,
                        host : 'https://www.youtube-nocookie.com'
                    }
                );
                this.playerLoaded = true;
            }
            this.player.load(this.id);
            this.player.play();
        }
    },
    watch :
    {
        id : function(newId)
        {
            if(newId)
            {
                if(!this.playerLoaded)
                {
                    this.player = new YTPlayer
                    (
                        '#player',
                        {
                            modestBranding : true,
                            related : false,
                            host : 'https://www.youtube-nocookie.com'
                        }
                    );
                    this.playerLoaded = true;
                }
                this.player.load(newId);
                this.player.play();
            }
        },
    }
}
</script>
<style>
.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>