<template>
<div>
    <b-card class="mb-2" v-for="p in posts" :key="p.id">
      <blockquote class="blockquote mb-0">
        <p>{{ p.content }}</p>
        <footer class="blockquote-footer">
          <a :href="'/user/' + p.uname">{{ p.uname }}</a> <cite><a :href="'/post/' + p.id">{{ p.created }}</a></cite>
        </footer>
      </blockquote>
    </b-card>
</div>
</template>

<script>
import axios from 'axios';

export default {
    props : {
        uname : String
    },
    data() {
        return {
            posts : [],
            errCode : null,
            errDict : {
            }
        }
    },
    created() {
        console.log(this.postId);
        axios.get('/api/postByUser/' + this.uname)
        .then((res) => this.posts = res.data)
        .catch((err) =>
        {
            this.errCode = 42;
            console.error(err);
        });
    }
}
</script>

<style scoped>

</style>