<template>
    <span class="border rounded bg-white">
        <b-button
            v-if="!startOpen && !isOpen"
            @click="isOpen = !isOpen"
            size="lg"
            class="primary"
            >{{ "Post something" }}</b-button
        >
        <b-container fluid>
            <b-form v-if="isOpen" class="mt-10" @submit.prevent="onSubmit">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <b-form-textarea
                            ref="textentry"
                            @change="clear_error"
                            v-model="form.content"
                            :placeholder="
                                btn_text
                                    ? `What's on your mind...`
                                    : `Enter your reply here...`
                            "
                            rows="3"
                            max-rows="8"
                            size="lg"
                            :disabled="disabled"
                        ></b-form-textarea>
                    </div>
                </div>
                <div class="ml-1 mr-1 form-group row">
                    <div v-if="svg && svg.length">
                        <span v-html="svg"></span>
                        <span
                            v-if="!disabled"
                            @click="fetch_captcha"
                            class="pointer mr-2 text-light"
                            title="reload captcha"
                            >⟳</span
                        >
                        <template v-else> loading captcha... </template>
                    </div>
                    <div class="mr-2">
                        <input
                            inline
                            minlength="4"
                            :disabled="disabled"
                            @change="clear_error"
                            v-model="form.solution"
                            type="text"
                            class="form-control"
                            id="inputCaptcha"
                            placeholder="Enter the code"
                            required
                        />
                    </div>
                    <div>
                        <span>
                            <b-form-file
                                @change="clear_error"
                                accept="image/jpeg, image/png, image/gif"
                                v-model="form.pic"
                            ></b-form-file>
                        </span>
                        <span
                            v-if="form.pic"
                            @click="form.pic = null"
                            title="click to remove selected file"
                            class="ml-1 mr-3 pointer"
                        >
                            ✖
                            <span v-if="form.pic.size / (1024 * 1024) >= 2" title="File too large, must be less than 2 MB" class="float-right text-danger">{{(form.pic.size / (1024 * 1024)).toFixed(2)}} MB</span>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <div
                            v-if="errCode"
                            class="alert alert-danger"
                            role="alert"
                        >
                            {{
                                errDict[errCode]
                                    ? errDict[errCode]
                                    : errDict[42]
                            }}
                            <span
                                @click="clear_error"
                                class="float-right pointer"
                                >x</span
                            >
                        </div>
                        <div
                            v-else-if="info"
                            class="alert alert-primary"
                            role="alert"
                        >
                            {{ info }}
                            <span
                                @click="clear_error"
                                class="float-right pointer"
                                >x</span
                            >
                        </div>
                    </div>
                    <div class="col-sm-12 float-right">
                        <b-button
                            type="submit"
                            class="float-right"
                            :disabled="disabled"
                            variant="primary"
                            size="lg"
                        >
                            <b-spinner v-if="disabled" small></b-spinner>
                            <template v-else>{{
                                btn_text || "Reply"
                            }}</template>
                        </b-button>
                        <a
                            class="float-left"
                            v-if="isOpen"
                            href
                            @click.prevent="isOpen = !isOpen"
                            >close</a
                        >
                    </div>
                </div>
            </b-form>
        </b-container>
    </span>
</template>

<script>
import axios from "axios";

export default {
    props: {
        rootPost: String,
        board: Number,
        btn_text: String,
        startOpen: String,
    },
    data() {
        return {
            isOpen: Boolean(this.startOpen),
            form: {
                board: this.board ? this.board : 1,
                content: null,
                pic: null,
                solution: null,
                rootPost: this.rootPost ? this.rootPost : null,
            },
            info: "",
            svg: "",
            disabled: false,
            errCode: null,
            errDict: {
                42: "Undefined error, retry or contact admin",
                999: "You are logged out, you must login before posting",
                991: "No content found, enter something and then try again",
                993: "Recieved 404 error from server, retry or contact admins",
                2: "Unexpected error trying to login, retry or contact admin",
                1: "Server recieved unexpected or empty content",
                33: "Filetype not allowd, must be .jpg .jpeg, .png or .gif",
                900 : "Retry captcha",
                413 : "File size too large for my cheap server, find something smaller (less than 2MB)",
                503 : "You are currenly in a 30 second cooldown, wait and retry",
                888 : "Your IP is blocked. See more information on the URL: /viewban"
            },
        };
    },
    mounted() {
        if (this.isOpen && !this.svg) this.fetch_captcha();
    },
    watch: {
        isOpen(isTrue) {
            if ((isTrue && !this.svg) || !this.svg.length) this.fetch_captcha();
        },
    },
    methods: {
        clear_error() {
            this.errCode = null;
            this.info = "";
        },
        fetch_captcha() {
            this.form.solution = null;
            axios({
                method: "POST",
                url: "/api/captcha",
            })
                .then((res) => res.data)
                .then((res) => {
                    if (res.svg) this.svg = res.svg;
                    else throw res;
                })
                .catch((err) => {
                    console.error(err);
                });
        },
        onSubmit() {
            this.disabled = true;
            this.clear_error();

            if (!this.form.content || !this.form.content.trim().length) {
                this.errCode = 991;
                this.disabled = false;
                return;
            }

            let data = {};
            let header = {};

            if (this.form.pic) {
                if(this.form.pic.size / (1024 * 1024) >= 2)
                {
                    this.errCode = 413;
                    this.disabled = false;
                    return;
                }
                data = new FormData();
                Object.keys(this.form).forEach((key) => {
                    if (this.form[key]) data.append(key, this.form[key]);
                });

                header = { "Content-Type": "multipart/form-data" };
            } else {
                Object.keys(this.form).forEach((key) => {
                    if (this.form[key]) data[key] = this.form[key];
                });
            }

            axios({
                method: "POST",
                url: "/api/createPost",
                data: data,
                headers: header,
            })
                .then((res) => res.data)
                .then((res) => {
                    this.disabled = false;
                    this.clear_error();
                    this.info = "All done, redirecting...";
                    if (!res.id) throw res.id;

                    if(window.location.pathname.indexOf(`/post/`) === -1)
                    {
                        window.location = `/post/${
                            this.rootPost ? this.rootPost + "#" + res.id : res.id
                        }`;
                    }
                    else
                    {
                        window.location.hash = res.id;
                        this.$emit('readPost', res.id);
                        this.isOpen = false;
                        this.fetch_captcha();
                        this.clear_error();
                        this.form.board = this.board ? this.board : 1;
                        this.form.content = null;
                        this.form.pic = null;
                        this.form.solution = null;
                        this.form.rootPost = this.rootPost ? this.rootPost : null;
                    }
                })
                .catch((err) => {
                    this.errCode = 42;
                    this.disabled = false;
                    this.fetch_captcha();

                    if (
                        err.response &&
                        err.response.data &&
                        err.response.data.errCode
                    ) {
                        // Request made and server responded
                        this.errCode = err.response.data.errCode;
                    } else if (err.request) {
                        if (
                            err.response &&
                            err.response.status
                        ) {
                            if(err.response.status === 404) this.errCode = 993;
                            else if(err.response.status === 413) this.errCode = 413;
                            else if(err.response.status === 503) this.errCode = 503;
                        }
                        // The request was made but no response was received
                        console.error(err.request);
                    } else {
                        // Something happened in setting up the request that triggered an Error
                        console.error("Error", err.message);
                    }
                });
        },
        onReplyClicked(id)
        {
            if(id)
            {
                if(!this.isOpen) this.isOpen = true;
                if(this.form.content) this.form.content += "\n>>" + id + " ";
                else                  this.form.content = ">>" + id + " ";
                setTimeout(() =>
                {
                    if(this.$refs.textentry) this.$refs.textentry.focus();
                }, 50);
            }
        },
    },
};
</script>

<style>
.pointer {
    cursor: pointer;
}
textarea, input
{
    /* background: #22232b !important; */
    /* color: #708080 !important; */
}
.custom-file-label, .custom-file-input
{
    /* background: #22232b !important; */
}
</style>