<template>
<div>
    <div class='d-flex justify-content-center'>
    <b-card v-if="!errCode" no-body class="overflow-hidden" style="max-width: 540px;">
        <b-row no-gutters>
        <b-col md="6">
            <b-card-img title="profile image" :src="profilePic || require('~/assets/profile.jpg')" alt="Image" class="rounded-0"></b-card-img>
        </b-col>
        <b-col md="6">
            <b-card-body :title="this.$route.params.username">
            <b-card-text>
                <template v-if='bio'>{{bio}}</template>
                <template v-else><i>User has not added any bio yet</i></template>
                <br>
                <br>
                <template>Account created: {{ created }} ago</template>
                <br>
                <button class="outline-primary" type="button" v-if="this.$auth.user && this.$auth.user.name == this.$route.params.username">EDIT</button>
            </b-card-text>
            </b-card-body>
        </b-col>
        </b-row>
    </b-card>
    <h1 v-else class="alert alert-danger">
        {{ errDict[errCode] ? errDict[errCode] : errDict[42] }}
    </h1>
    </div>
</div>
</template>

<script>
    export default {
        props : {
            bio : String,
            created: String,
            errCode : Number
        },
        data() {
            return {
                profilePic : this.$route.params.username + '.jpg',
                errDict : {
                    42 : 'Undefined error, retry or contact admin',
                    611 : `User "${this.$route.params.username}" not found`,
                    622 : 'Unexpected error retriving data, retry or contact admin'
                }
            }
        }
    }
</script>

<style scoped>

</style>