<template>
<div style="border-left: 5px solid grey;">
    <b-card class="mb-2" :id="p.id" :key="p.id">
      <blockquote class="blockquote mb-0">
        <p>{{ p.content }}</p>
        <footer class="blockquote-footer">
          <a :href="'/user/' + p.uname">{{ p.uname }}</a> <cite><a :href="'/post/' + p.id">{{ p.created }}</a></cite>
          <ReplyPost :rootPost="p.rootpost || postId" :linkedPost="p.id"/>
        </footer>
      </blockquote>
    </b-card>
    <div style="margin-left: 3%">
        <RecurRender v-for="q in p.replies" :id="q.id" :key="q.id" :postId="postId" :p="q" />
    </div>
</div>
</template>

<script>
import axios from 'axios';
import ReplyPost from '~/components/ReplyPost.vue';
import LinkedPost from '~/components/LinkedPost.vue';

export default{
    name : 'RecurRender',
    props :
    {
        postId : String,
        p : Object
    }
}
</script>