<template>
  <b-container class="cont rounded border border shadow-lg" :class="{ 'border-warning' : (this.$route.hash == `#${p.id}`), 'rootpost' : !p.rootpost, 'normalpost' : p.rootpost }" v-if="p" :id="p.id">
      <b-row class="pl-1 justify-content-md-left">
            <a v-if="!p.comments" title="replies" :href='`/post/${p.id}`'>
                <h3>{{ p.replies || "0" }}R</h3>
            </a>
            <a class="float-left" :href='`${ p.rootpost ? `/post/${p.rootpost}#${p.id}` : `/post/${p.id}`}`'>
                <template v-if="p.comments">
                    {{ $moment(p.created).fromNow() }}
                </template>
                <template v-else>
                    {{ $moment(p.bumped || p.created).fromNow() }}
                </template>
                <template v-if="!p.comments">#{{ p.id }}</template>
            </a>
            <template v-if="p.comments">&nbsp;
            <a class="float-left" :href='`#${p.id}`'>#{{ p.id }}</a>
            <a v-if="!p.flag" v-b-modal.report-modal class="float-left, mouse_pointer" @click.prevent="onReport">&nbsp;report</a>
            &nbsp;
            <a href="#" @click.prevent="onReply">[Reply]</a>
            </template>
            <br>
      </b-row>
      <b-row class="pl-1" v-if="p.comments && Object.keys(p.comments).length">
          Replies:&nbsp;
        <a v-for="c in p.comments" :key="c.id" class="mr-2" :href="`#${c.id}`" v-b-popover.hover.bottomright = "{ html : true, content : c.content, animation: false, delay: 0 }" >&gt;&gt;{{c.id}}</a>
      </b-row>
      <b-row class="justify-content-md-center">
        <b-col v-if="p.fname" md="auto" class="m-0" :style="`${ !isLarge ? (!p.rootpost ? 'max-width: 250px; margin-left: 1rem;' :  'max-width: 150px; margin-left: 1rem;') : '' }`">
            <b-row>
                <img @load="onLoad" :class="classObj" @click="isLarge = !isLarge" :src="imageSrc" class="rounded-0 pointer img-fluid" />
            </b-row>
            <b-row>
                <a class="break_multiline" :title="p.fname" :href='`/file/${p.id}_${p.fname}`'>{{ p.fname }}</a>
            </b-row>
        </b-col>
        <b-col class="pl-1 pb-1 pt-0 m-0" v-once>
            <component v-if="p.linked" :is="dynamicComponent" :linked="p.linked" />
            <div v-else class="lead prewrap" v-html="featurify(1)"></div>
        </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { escape } from 'html-escaper';
import xssFilters from 'xss-filters';
import EmbedTube from '~/components/EmbedTube.vue';

const format_1 = new RegExp
(
    `^https:\\/\\/(?:www|m)\\.youtube\\.com\\/watch\\?` +
    `(?:.+\\&|)v=([a-zA-Z0-9_\\-]{11})(?:(\\&.*)|$)`
);

const format_2 = new RegExp
(
    `^https:\\/\\/youtu.be\\/([a-zA-Z0-9_\\-]{11})`
);

const format_3 = new RegExp
(
    `^https:\\/\\/www\\.(?:youtube|youtube\\-nocookie)*\\.com\\/embed\\/` +
    `([a-zA-Z0-9_\\-]{11})`
);

/**
 * @param {String} url - youtube video watch URL
 * @returns {?String} if valid url, returns 11 character video id string, else null
 */
function get_video_id(url)
{
    if(!url || url.constructor !== String) return null;

    let arr = url.match(format_1);
    if(arr) return arr[1];

    arr = url.match(format_2);
    if(arr) return arr[1];

    arr = url.match(format_3);
    if(arr) return arr[1];

    return null;
}

const urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;

function linkify(text, disableEmbed) {
    return text.replace(urlRegex, function(url) {
        if(disableEmbed) return `<a target="_blank" href="${url}">${url}</a>`;
        let id = get_video_id(url);
        if(id) return `<a target="_blank" href="${url}">${url}</a> <EmbedTube id="${id}" />`;
        else   return `<a target="_blank" href="${url}">${url}</a>`;
    });
}

export default {
    name : 'RenderPost',
    props: {
        p : Object
    },
    data() {
        return {
            isLarge : false,
            largeLoaded : false
        }
    },
    methods :
    {
        onLoad()
        {
            if(this.isLarge && !this.largeLoaded) this.largeLoaded = true;
        },
        onReply()
        {
            this.$emit('onReply');
        },
        onReport()
        {
            this.$emit('onReport');
        },
        featurify(disableEmbed)
        {
            return (this.p.flag == 1 ? `<span style="text-decoration: line-through;">deleted</span>` : linkify(this.p.content, disableEmbed, { nl2br : true }))
            .replace(/(?:^|\B)&gt;&gt;([0-9]+)(\b|\r|\n)/gi, (rid, id) =>
            {
                if(this.p.linked && this.p.linked[id])
                {
                    return `<a :href="'#' + ${id}" v-b-popover.hover.bottomright = "{ html : true, content : linked[${id}].content, animation: false, delay: 0 }" >&gt;&gt;{{${id}}}</a>`
                }
                else
                {
                    return `<a href='/post/${id}'>&gt;&gt;${id}</a>`;
                }
            })
            .replace(/(?:^|\B)#(?![0-9_]+\b)([a-zA-Z0-9_]{1,30})(\b|\r)/g, (tag) =>
            {
                tag = tag.substr(1);
                // return `<a href='/tag/${tag}'>#${tag}</a>`;
                return `<a href='/search/?q=${xssFilters.inHTMLData(tag)}'>#${tag}</a>`;
            })
            .replace(/^&gt;(?!&gt;)(.*)$/gm, (line) =>
            {
                return `<span class='quote1'>` + line + `</span>`;
            })
            .replace(/^&lt;(.*)$/gm, (line) =>
            {
                return `<span class='quote2'>` + line + `</span>`;
            })
            .replace(/(?:\r\n|\r|\n)/g, '<br />'); // nl2br can do this
        }
    },
    computed :
    {
        classObj()
        {
            return {
                'imgc'           : !this.isLarge,
                'thumbmaxheight' : !this.isLarge,
                'mouse_loading'  : this.isLarge && !this.largeLoaded,
                'mouse_pointer'  : !(this.isLarge && !this.largeLoaded)
            }
        },
        imageSrc()
        {
            return this.isLarge ?
                `/file/${this.p.id}_${this.p.fname}` :
                `/file/${this.p.id}.jpg`;
        },
        dynamicComponent()
        {
            return {
                props : { linked : Object },
                template : `<div class="ml-2 lead prewrap">${ this.featurify() }</div>`,
                components: { EmbedTube }
            }
        }
    }
};
</script>

<style>
.cont
{
    /* background: #292934; */
    /* color: #abaaad; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
      /* color:  #708080; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 103%;
    font-weight: 400;
    /* border: 1px solid #000; */
}
.mouse_loading
{
    cursor: progress;
}
.mouse_pointer
{
    cursor: pointer;
}
.quote1
{
    /* color: #3ee03e; */
}
.quote2
{
    /* color: rgb(255, 123, 0); */
}
.border-warning
{
    /** border: 2px solid #715709 !important; */
    border: 3px solid rgb(255, 136, 0) !important;
}
.popover-body
{
    white-space: pre-wrap;
    /* background: #292934; */
    /* color: #708080; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    /* border: 1px solid grey; */
    border-radius: 1%;
    font-size: 1rem;
}
.thumbmaxheight
{
    max-height: 500px;
}
.prewrap
{
    white-space: pre-wrap;
}
.break_multiline
{
  /* color: grey; */
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.rootpost
{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(160, 160, 160) 0px 0px 0px 3px; */
    margin-bottom: 1% !important;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.normalpost
{
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.imgc
{
    border-top-right-radius: 1.5% !important;
    border-bottom-right-radius: 1.5% !important;
}
.modal-content, .modal-content *
{
    /* background: #292934; */
    /* color: #708080; */
}
</style>