<template>
<b-button :disabled="!$auth.loggedIn" :title="!$auth.loggedIn ? `You must login to post reply` : ``" v-if="!Number(show_form || 0)" @click="show_form = 1" class="float-right" variant="outline-primary">Reply</b-button>
<b-container v-else fluid>
    <br>
    <b-form class="mt-10" @submit.prevent='onSubmit'>
        <div class="form-group row">
            <div class="col-sm-12">
                <b-form-textarea
                    v-model='content'
                    :placeholder="btn_text ? `What's on your mind...` : `Enter your reply here...`"
                    rows="3"
                    max-rows="8"
                    size="lg"
                    :disabled="disabled"
                ></b-form-textarea>
            </div>
        </div>
        <div class="form-group row">
        <div class="col-sm-10">
                <div v-if="errCode" class="alert alert-danger" role="alert">{{ errDict[errCode] ? errDict[errCode] : errDict[42] }} <span @click='clear_error' class='float-right pointer'>x</span></div>
                <div v-else-if="info" class="alert alert-primary" role="alert">{{ info }} <span @click='clear_error' class='float-right pointer'>x</span></div>
            </div>
            <div class="col-sm-12 float-right">
                <b-button type='submit' class='float-right' :disabled="disabled" variant="primary" size="lg">
                    <b-spinner v-if="disabled" small></b-spinner>
                    <template v-else>{{ btn_text || "Reply" }}</template>
                </b-button>
                <b-link v-if="!btn_text" @click="show_form = 0">close</b-link>
            </div>

        </div>
    </b-form>
</b-container>
</template>

<script>
import axios from 'axios';

export default {
    props : {
        rootPost : String,
        linkedPost : String,
        show_form : Number,
        btn_text : String
    },
    data() {
        return {
            // show_form : 0,
            content : '',
            info : '',
            svg : '',
            disabled : false,
            errCode : null,
            errDict : {
                42 : 'Undefined error, retry or contact admin',
                999 : 'You are logged out, you must login before posting',
                991 : 'No content found, enter something and then try again',
                993 : 'Recieved 404 error from server, retry or contact admins',
                2 : 'Unexpected error trying to login, retry or contact admin',
                1 : 'Server recieved unexpected or empty content'
            }
        }
    },
    methods : {
        clear_error() {
            this.errCode = null;
            this.info = '';
        },
        onSubmit()
        {
            this.disabled = true;
            this.clear_error();

            if(!this.content.trim().length)
            {
                this.errCode = 991;
                this.disabled = false;
                return;
            }

            axios
            ({
                method : 'POST',
                url : '/api/createTextPost',
                data : {
                    content : this.content.trim(),
                    linkedPost : this.linkedPost,
                    rootPost : this.rootPost
                }
            })
            .then((res) => res.data)
            .then((res) =>
            {
                this.disabled = false;
                this.clear_error();
                if(window.location.href.indexOf('/post/' + this.linkedPost) === -1)
                {
                    this.info = 'All done, redirecting...';
                }

                window.location.hash = res.id;
                window.location.reload();
            })
            .catch((err) =>
            {
                this.errCode = 42;
                this.disabled = false;

                if
                (
                    err.response              &&
                    err.response.data         &&
                    err.response.data.errCode
                )
                {
                    // Request made and server responded
                    this.errCode = err.response.data.errCode;
                }
                else if(err.request)
                {
                    if(err.response && err.response.status && err.response.status === 404)
                    {
                        this.errCode = 993;
                    }
                    // The request was made but no response was received
                    console.error(err.request);
                }
                else
                {
                    // Something happened in setting up the request that triggered an Error
                    console.error('Error', err.message);
                }
            });
        }
    }
}
</script>

<style scoped>
.pointer
{
    cursor: pointer;
}
</style>