<template>
    <RenderPost v-if="p && p.id" :p="p" />
    <div v-else if="failed">
        Error, see console.log
    </div>
</template>

<script>
import RenderPost from '~/components/RenderPost.vue';

    export default {
        data()
        {
            return { p : { }}
        },
        props :
        {
            id : Number,
            failed : false
        },
        async mounted()
        {
            try
            {
                let res = await this.$axios.$get('/api/readPost/' + this.id);
                this.p = res;
            }
            catch(err)
            {
                this.failed = true;
                console.error(err);
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>