<template>
<div class="container">

<b-card class="mb-2" :id="id">
    <blockquote class="blockquote mb-0">
    <p>{{ content }}</p>
    <footer class="blockquote-footer">
        <a :href="'/user/' + uname">{{ uname }}</a> <cite><a :href="'/post/' + id">{{ created }}</a></cite>
        <ReplyPost :disabled="!$auth.loggedIn" :title="!$auth.loggedIn ? `You must login to post reply` : ``" :rootPost="rootpost || $route.params.id" :linkedPost="$route.params.id" />
    </footer>
    </blockquote>
</b-card>

<b-card class="mb-2" v-for="p in posts" :id="p.id" :key="p.key">
    <blockquote class="blockquote mb-0">
    <span class="mr-3" v-for="q in p.replies" :key="q.id">
        <a :href="`#${q.id}`" @mouseover="toView = q.id" @mouseleave="toView = null">@{{q.uname}}</a>
    </span>
    <div v-for="q in p.replies" :key="q.id">
        <b-card v-if="toView == q.id" class="mb-2">
            <blockquote class="blockquote mb-0">
            <p>{{ q.content }}</p>
            <footer class="blockquote-footer">
                <a :href="'/user/' + q.uname">{{ q.uname }}</a> <cite><a :href="'/post/' + q.id">{{ q.created }}</a></cite>
            </footer>
            </blockquote>
        </b-card>
    </div>
    <p>{{ p.content }}</p>
    <footer class="blockquote-footer">
        <a :href="'/user/' + p.uname">{{ p.uname }}</a> <cite><a :href="'/post/' + p.id">{{ p.created }}</a></cite>
        <ReplyPost :disabled="!$auth.loggedIn" :title="!$auth.loggedIn ? `You must login to post reply` : ``" :rootPost="rootpost || $route.params.id" :linkedPost="$route.params.id" />
    </footer>
    </blockquote>
</b-card>


</div>
</template>

<script>
import ReplyPost from '~/components/ReplyPost.vue';
import axios from 'axios';
import moment from 'moment';

export default {
    data() {
        return {
            posts : [],
            toView : null
        }
    },
    mounted() {
        axios.get(`/api/rootPost/` + this.$route.params.id)
        .then(res =>
        {
            this.posts = res.data;
            res.data.forEach((p) =>
            {
                p.replies = [];
                res.data.forEach((q) =>
                {
                    if(p.id == q.linkedpost)
                    {
                        p.replies.push(q);
                    }
                });
            });
            this.posts = res.data;
        })
        .catch(err => console.error(err));
    },
    async asyncData({ route }) {
        try
        {
            let result = await axios.get('/api/readTextPost/' + route.params.id, { baseURL : `http://atserver:3002` });
            if(result.data.created) result.data.created = moment(result.data.created).fromNow();
            return result.data;
        }
        catch(err)
        {
            if
            (
                err.response              &&
                err.response.data         &&
                err.response.data.errCode
            )
            {
                // let err = err.response.data.errCode;
                let err = err.response.data;
                console.error(err);
                // TODO: ?
                // if(err === 1)
                // {
                //     //
                // }
                // return err.response.data;
                return { posts : [] };
            }
            else
            {
                console.error('ERROR', JSON.stringify(err));
                // return { errCode : 42 };
                return { posts : [] };
            }
        }
    },
    components: {
        // Auth
        ReplyPost
    }
}
</script>

<style scoped>
</style>
