<template>
    <div v-if="p && p.id" style="color: grey">
        You are viewing an isolated post, see it in full context:
        <a :href='`/post/${p.rootpost ? p.rootpost : p.id}/#${p.id}`'>here</a>
        <RenderPost :p="p" />
    </div>
    <FourOFour v-else />
</template>

<script>
import RenderPost from '~/components/RenderPost.vue';
import FourOFour from '~/components/FourOFour.vue';

export default {
    async asyncData({ route, $axios })
    {
        try
        {
            let res = await $axios.$get('/api/readPost/' + route.params.id, { baseURL : `http://atserver:3002` });
            return { p : res };
        }
        catch(err)
        {
            console.error(err);
        }
    }
}
</script>

<style lang="scss" scoped>

</style>